.App {
  text-align: center;
}

.nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: green;
   transition: .3s ease-in-out;
   z-index: 100;
   height: 87px;
}

.cover {
   position: relative;
   display: flex;
   padding: 10% 5vw 5% 3vw;
   min-height: 40vh;
   background: #182f35;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   overflow: hidden;
}

.listings {
   background: blue;
   display: block;
   unicode-bidi: isolate;
}
